

@import "mixin";
@import "variables";
.partners {
    padding-top: 0.6rem;
    background-color: $secondary_font_color;
    justify-content: center;
    margin-top: 1rem;
   
  }
  .partners_containers {
      @include center;
      @include padding_two_param(1rem,1rem);
    height: fit-content;
    background-color:$secondary_font_color;

    @include md{
      @include padding_two_param(0.5rem,0.5rem);
    }
  }
  .slide {
    @include box_size(7rem,10rem);
   @include flex_view;
    @include center;
  }
  .partners_img img {
    @include flex_view;
    object-fit: cover;
    width: 100%;
    max-width: 150px;
    text-align: center;
    margin: auto;
    @include xl{
      width: 70%;
      max-width: 190px;
    }
    @include lg{
      width: 65%;
    
    }
    @include md{
      width: 60%;
    
    }


  }
  .slider_container {
    overflow: hidden;
  
    @include padding_two_param(1%,5%);

    @include md{
      @include padding_two_param(1%,4%);  
    }
  }
  
  .slick-next {
    right: 5%;
  }