
$paragraph_font:"Ubuntu", sans-serif;
$Heading_font:"Montserrat Alternates", sans-serif;
$btn_bg_color:#0074da;
$primary_bg_color:#010834;
$primary_font_color:white;
$secondary_font_color:#010834;
$p_font_weight:300;