* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #010834;
  font-family: "Ubuntu", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  line-height: 1.5;
  position: relative;
}

section.main {
  height: 90vh;
  width: 100%;
  text-decoration: none;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.55)), url("../images/background2.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
}

.top_info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 992px) {
  .top_info {
    justify-content: center;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .top_info {
    font-size: 13px;
    justify-content: space-around;
  }
}

.phone a {
  text-decoration: none;
  display: inline-flex;
  padding-right: 3rem;
  color: white;
}
@media (max-width: 480px) {
  .phone a {
    padding-right: 0.5rem;
  }
}
.phone a:hover {
  color: #0074da;
}

.phone i {
  padding-right: 5px;
  display: flex;
  align-items: center;
}

.mail a {
  text-decoration: none;
  display: inline-flex;
  color: white;
}
.mail a:hover {
  color: #0074da;
}

.mail i {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  width: 100%;
}
@media (max-width: 992px) {
  .nav {
    text-align: left;
    padding: 0.9rem 1rem;
  }
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 992px) {
  .logo {
    padding-left: 20px;
  }
}
.logo img {
  height: auto;
  width: 60%;
}
@media (max-width: 480px) {
  .logo img {
    width: 8rem;
  }
}

.nav_items {
  display: flex;
}
@media (max-width: 992px) {
  .nav_items {
    display: none;
  }
}
.nav_items ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 1.7rem;
}
@media (max-width: 992px) {
  .nav_items.nav_open {
    background-color: #010834;
    margin: 0;
    color: white;
    display: block;
    height: 100vh;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .nav_items.nav_open ul {
    display: block;
    margin: auto;
    text-align: left;
    margin-top: 3rem;
  }
}
@media (max-width: 992px) {
  .nav_items.nav_open ul li {
    padding: 0.5rem 2rem;
  }
}
@media (max-width: 992px) {
  .nav_items.nav_open ul li a::after {
    display: none;
  }
}

.nav ul li a {
  color: white;
}

.top_info_space {
  padding: 0 8% 0 0;
}
@media (max-width: 1200px) {
  .top_info_space {
    padding: 0 2.5rem 0 0;
  }
}

.nav_space {
  padding: 1% 8%;
}
@media (max-width: 1200px) {
  .nav_space {
    padding: 0.9rem 2.5rem;
  }
}

.nav_btn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0074da;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 2px;
}
.nav_btn:hover {
  background-color: #0074da;
}

.nav_button {
  display: flex;
  justify-content: flex-end;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 992px) {
  .nav_button {
    display: none;
  }
}

.nav ul li a::after {
  display: block;
  content: "";
  border-bottom: 2.5px solid #0074da;
  transform: scaleX(0);
  transition: transform 0.3s ease-in;
  transition: transform 0.1s ease-out;
  transform-origin: 0% 50%;
}

.nav ul li a:hover::after {
  transform: scaleX(1);
}
.nav ul li a:hover::after.active, .nav ul li a:hover::after:hover {
  color: #0074da;
}

.nav-toggler {
  color: black;
  height: 34px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: none;
  margin-right: 15px;
}
@media (max-width: 992px) {
  .nav-toggler {
    display: block;
  }
}
@media (max-width: 480px) {
  .nav-toggler {
    height: 30px;
    width: 35px;
  }
}
.nav-toggler:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.nav-toggler span {
  height: 2px;
  width: 20px;
  background-color: black;
  display: block;
  margin: auto;
  position: relative;
  transition: all 0.3s ease;
}
.nav-toggler span::before, .nav-toggler span::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease;
}
.nav-toggler span::before {
  transform: translateY(-6px);
}
.nav-toggler span::after {
  transform: translateY(6px);
}

.nav-toggler.active span {
  background-color: transparent;
}
.nav-toggler.active span::before {
  transform: rotate(45deg);
}
.nav-toggler.active span::after {
  transform: rotate(135deg);
}

.header #nav {
  display: flex;
  padding: 0 15px;
}

#mynav.scrolled {
  background-color: #010834;
  top: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
}

#mynav.nav_open_active {
  background-color: #010834;
  top: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
}

.header_body {
  color: white;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: block;
}
@media (max-width: 992px) {
  .header_body {
    padding: 19% 10%;
  }
}
@media (max-width: 600px) {
  .header_body {
    margin-left: auto;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .header_body {
    margin: 3rem auto auto auto;
  }
}

.padding_header_body {
  padding: 12% 0 0 16.5%;
}
@media (max-width: 600px) {
  .padding_header_body {
    padding: 12%;
  }
}

@media (max-width: 1200px) {
  .main_heading {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
@media (max-width: 992px) {
  .main_heading {
    font-size: 1.9rem;
  }
}
.main_heading h1 {
  font-size: 3.5rem;
  font-weight: 800;
  font-family: "Montserrat Alternates", sans-serif;
}
@media (max-width: 1200px) {
  .main_heading h1 {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  .main_heading h1 {
    text-align: center;
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .main_heading h1 {
    font-size: 1.5rem;
  }
}

.info_text p {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.4;
  margin-top: 1rem;
  max-width: 35rem;
}
@media (max-width: 480px) {
  .info_text p {
    font-size: 0.85rem;
  }
}

.header_buttons {
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .header_buttons {
    margin-top: 3rem;
  }
}
@media (max-width: 480px) {
  .header_buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
    align-content: center;
  }
}
@media (max-width: 480px) {
  .header_buttons a {
    font-size: 0.85rem;
  }
}

.header_btn1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 10rem;
  padding: 0.7rem 1rem;
  background-color: #0074da;
  color: white;
  border: 1px solid #0074da;
  margin-right: 1rem;
}
.header_btn1:hover {
  background-color: transparent;
  border: 1px solid #0074da;
  transition: 0.5s;
}
@media (max-width: 600px) {
  .header_btn1 {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
}

.header_btn2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 10rem;
  padding: 0.7rem 1rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.header_btn2:hover {
  background-color: #0074da;
  border: 1px solid #0074da;
  transition: 0.5s;
}
@media (max-width: 480px) {
  .header_btn2 {
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
  }
}

.arrow-down {
  bottom: 15%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
}
@media (max-width: 768px) {
  .arrow-down {
    display: none;
  }
}
.arrow-down a {
  color: white;
  font-size: 2rem;
}

.services_main_container {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: #010834;
  color: white;
  width: 100%;
  display: grid;
  gap: 5%;
  grid-template-columns: 45% 45%;
}
@media (max-width: 992px) {
  .services_main_container {
    grid-template-columns: auto;
  }
}
@media (max-width: 768px) {
  .services_main_container {
    gap: 0;
  }
}

.padding_services {
  padding: 4% 8%;
}
@media (max-width: 1200px) {
  .padding_services {
    padding: 2rem 3rem;
  }
}
@media (max-width: 992px) {
  .padding_services {
    padding: 1rem 1rem;
  }
}
@media (max-width: 600px) {
  .padding_services {
    padding: 2rem 1rem;
  }
}
@media (max-width: 480px) {
  .padding_services {
    padding: 0.2rem 0.2rem;
    gap: 1rem;
  }
}

@media (max-width: 992px) {
  .part_intro {
    padding: 2rem 1rem;
  }
}
@media (max-width: 768px) {
  .part_intro {
    padding-top: 3rem;
  }
}

.services_intro_title h1 {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Montserrat Alternates", sans-serif;
}
@media (max-width: 1200px) {
  .services_intro_title h1 {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .services_intro_title h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .services_intro_title h1 {
    font-size: 1.3rem;
  }
}

.services_intro_description {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  padding: 2rem 0;
  vertical-align: inherit;
  line-height: 1.6;
}
@media (max-width: 1200px) {
  .services_intro_description {
    padding: 1.5rem 0;
  }
}
@media (max-width: 992px) {
  .services_intro_description {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .services_intro_description p {
    font-size: 0.85rem;
  }
}
.services_intro_description span a {
  color: white;
  font-weight: 400;
  border-bottom: 1.5px solid white;
}
.services_intro_description span a:hover {
  border-bottom: 1.5px solid #0074da;
  color: #0074da;
}

.services_intro_button {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .services_intro_button {
    display: none;
  }
}
.services_intro_button .services_btn1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 10rem;
  padding: 0.7rem 1rem;
  background-color: #0074da;
  color: white;
  border: 1px solid #0074da;
  margin-right: 1rem;
}
.services_intro_button .services_btn1:hover {
  background-color: transparent;
  border: 1px solid #0074da;
  transition: 0.5s;
}
@media (max-width: 600px) {
  .services_intro_button .services_btn1 {
    margin-right: 0;
  }
}
.services_intro_button .services_btn2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 10rem;
  padding: 0.7rem 1rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.services_intro_button .services_btn2:hover {
  background-color: #0074da;
  border: 1px solid #0074da;
  transition: 0.5s;
}

@media (max-width: 992px) {
  .part_services {
    padding: 2rem 1rem 4rem 1rem;
  }
}
@media (max-width: 480px) {
  .part_services {
    padding: 1rem 5px 2rem 5px;
  }
}

.services_item {
  text-align: center;
}
@media (max-width: 768px) {
  .services_item {
    display: grid;
    grid-template-columns: 15% 80%;
    gap: 0.5rem;
    text-align: center;
  }
}

.grid_container {
  gap: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto;
}
@media (max-width: 1200px) {
  .grid_container {
    gap: 1.5rem;
  }
}
@media (max-width: 768px) {
  .grid_container {
    height: 100%;
    gap: 5px;
    grid-template-columns: auto;
  }
}

.services_icon {
  text-align: center;
}
@media (max-width: 768px) {
  .services_icon {
    width: 3rem;
    display: flex;
    justify-content: flex-start;
  }
}
.services_icon img {
  height: auto;
  width: 4rem;
  padding-bottom: 1rem;
}
@media (max-width: 480px) {
  .services_icon img {
    height: auto;
    width: 2.7rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .services_description {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
  }
}
.services_description h3 {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 0.5rem 0;
}
@media (max-width: 1200px) {
  .services_description h3 {
    font-size: 1rem;
    padding: 0.3rem 0;
  }
}
@media (max-width: 768px) {
  .services_description h3 {
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 480px) {
  .services_description h3 {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
.services_description p {
  font-family: var(--font1);
  font-weight: 200;
}
@media (max-width: 768px) {
  .services_description p {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .services_description p {
    font-size: 0.85rem;
  }
}

.common_padding {
  padding: 4% 8%;
}
@media (max-width: 1200px) {
  .common_padding {
    padding: 2rem 3rem;
  }
}
@media (max-width: 992px) {
  .common_padding {
    padding: 2rem 1rem;
  }
}
@media (max-width: 768px) {
  .common_padding {
    padding: 1rem 1rem;
  }
}
@media (max-width: 480px) {
  .common_padding {
    padding: 0.5rem 0.5rem;
  }
}

section.how_we_work {
  background-color: white;
  color: #010834;
  overflow: auto;
}
@media (max-width: 1200px) {
  section.how_we_work {
    overflow: hidden;
  }
}

.how_we_work_title {
  padding-top: 2rem;
  color: #010834;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.how_we_work_title h5 {
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Montserrat Alternates", sans-serif;
  margin-top: 0.8rem;
}
@media (max-width: 992px) {
  .how_we_work_title h5 {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .how_we_work_title h5 {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .how_we_work_title p {
    font-size: 0.85rem;
  }
}

.how_we_work_grid_container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 2rem;
  text-align: center;
  overflow: scroll;
}
@media (max-width: 992px) {
  .how_we_work_grid_container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3.5rem;
    text-align: center;
    padding: 1rem 2rem;
  }
}
@media (max-width: 768px) {
  .how_we_work_grid_container {
    grid-template-columns: auto auto auto auto auto;
    gap: 2rem;
    padding: 0 0;
  }
}

.how_we_work_grid_container::-webkit-scrollbar {
  display: none;
}

.grid_item {
  position: relative;
}
@media (max-width: 768px) {
  .grid_item {
    width: 10rem;
  }
}
.grid_item img {
  margin-top: 3.5rem;
  height: 7rem;
  width: 7rem;
}
.grid_item:before {
  height: 2px;
  width: 80px;
  content: "";
  border-top: 2px dashed #010834;
  position: absolute;
  bottom: 0rem;
  top: 7rem;
  transform: translate(64%);
  right: 0rem;
}
@media (max-width: 992px) {
  .grid_item:before {
    width: 50px;
  }
}
.grid_item:nth-child(5)::before {
  display: none;
}

.grid_item_title {
  font-size: 1.1rem;
  font-weight: 700;
  font-family: "Ubuntu", sans-serif;
}

.grid_item_description {
  padding-top: 1.5rem;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}
@media (max-width: 480px) {
  .grid_item_description {
    font-size: 0.85rem;
  }
}

section.stockholm {
  padding: 8% 8%;
  background-color: #f9f9f9;
}
@media (max-width: 992px) {
  section.stockholm {
    padding: 2rem 2rem;
  }
}
@media (max-width: 768px) {
  section.stockholm {
    padding: 2rem 1rem;
  }
}

.stockholm_container {
  display: grid;
  gap: 10%;
  grid-template-columns: 45% 45%;
}
@media (max-width: 992px) {
  .stockholm_container {
    gap: 5%;
    grid-template-columns: auto;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
@media (max-width: 768px) {
  .stockholm_container {
    padding: 2rem 1rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    gap: 10%;
  }
}
@media (max-width: 600px) {
  .stockholm_container {
    padding: 1rem 1rem;
  }
}
@media (max-width: 480px) {
  .stockholm_container {
    padding: auto auto;
  }
}

@media (max-width: 992px) {
  .left_banner {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .left_banner {
    padding-left: 3rem;
  }
}
.left_banner img {
  height: auto;
  width: 110%;
}
@media (max-width: 992px) {
  .left_banner img {
    height: auto;
    width: 30rem;
  }
}
@media (max-width: 768px) {
  .left_banner img {
    height: auto;
    width: 20rem;
  }
}
@media (max-width: 480px) {
  .left_banner img {
    height: auto;
    width: 100%;
  }
}

.stockholm_title p {
  font-weight: 300;
}

.stockholm_title h4 {
  font-size: 2.2rem;
  font-weight: 800;
  font-family: "Montserrat Alternates", sans-serif;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .stockholm_title h4 {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .stockholm_title h4 {
    font-size: 1.4rem;
  }
}

.stockholm_intro {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  color: #010834;
}
.stockholm_intro p {
  padding-bottom: 2rem;
  line-height: 1.6;
}
@media (max-width: 480px) {
  .stockholm_intro p {
    font-size: 13.6px;
    font-weight: 0.85rem;
  }
}
.stockholm_intro p span a {
  text-decoration: none;
  color: #010834;
  border-bottom: 2px solid #010834;
  font-weight: 400;
}
.stockholm_intro p span a:hover {
  color: #0074da;
  border-bottom: 2px solid #0074da;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .stockholm_button {
    padding-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .stockholm_button {
    padding-bottom: 5rem;
  }
}
.stockholm_button a.button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 10rem;
  padding: 0.6rem 0.8rem;
  background-color: #0074da;
  color: white;
  border: 1px solid #0074da;
}
.stockholm_button a.button:hover {
  background-color: transparent;
  border: 1px solid #0074da;
  transition: 0.5s;
}
.stockholm_button a.button:hover {
  color: #0074da;
}

section.customer_case {
  background-color: white;
}

.customer_case_description.common_padding {
  padding: 4% 8% 1% 8%;
}
@media (max-width: 1200px) {
  .customer_case_description.common_padding {
    padding: 2rem 3rem;
  }
}

.customer_case_description {
  font-size: 2rem;
  color: #010834;
  width: 50rem;
}
@media (max-width: 992px) {
  .customer_case_description {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 768px) {
  .customer_case_description {
    padding-left: 3rem;
    padding-right: 1rem;
  }
}
@media (max-width: 480px) {
  .customer_case_description {
    margin: auto;
  }
}
@media (max-width: 992px) {
  .customer_case_description.common_padding {
    padding: 3rem 2rem 1rem 2rem;
  }
}
.customer_case_description p {
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 5px;
}
@media (max-width: 480px) {
  .customer_case_description p {
    font-size: 0.85rem;
    margin-left: auto;
  }
}
.customer_case_description h3 {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Montserrat Alternates", sans-serif;
}
@media (max-width: 992px) {
  .customer_case_description h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .customer_case_description h3 {
    font-size: 1.3rem;
  }
}
.customer_case_description span a {
  font-size: 1rem;
  text-decoration: none;
  color: #010834;
  border-bottom: 2px solid #010834;
  margin-bottom: 1rem;
}

.customer_case_grid_container {
  color: #010834;
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-row-gap: 1%;
  grid-column-gap: 0.5%;
}
@media (max-width: 992px) {
  .customer_case_grid_container {
    padding: 1rem 2rem;
    grid-template-columns: repeat(6, 1fr);
    height: auto;
    overflow: scroll;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .customer_case_grid_container {
    padding: 1rem 2rem;
  }
}
@media (max-width: 480px) {
  .customer_case_grid_container {
    padding: 1rem 0.5rem;
  }
}
@media (max-width: 992px) {
  .customer_case_grid_container::-webkit-scrollbar {
    display: none;
  }
}

.customer_case_grid_item {
  height: 100%;
  width: 100%;
  background-color: #010834;
  position: relative;
}
.customer_case_grid_item img {
  height: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .customer_case_grid_item img {
    height: 100%;
    width: 25rem;
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  .customer_case_grid_item img {
    height: 100%;
    width: 20rem;
  }
}
@media (max-width: 480px) {
  .customer_case_grid_item img {
    height: 100%;
    width: 15rem;
  }
}

.overlay {
  width: 95%;
  border-radius: 5px;
  padding: 1rem 2rem;
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translate(50%, 0%);
  background: rgb(226, 226, 226);
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s linear;
}
@media (max-width: 992px) {
  .overlay {
    padding: 1rem 1rem;
  }
}
.overlay p {
  font-size: 0.7rem;
}
@media (max-width: 992px) {
  .overlay p {
    font-size: 0.6rem;
  }
}
.overlay span {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: "Montserrat Alternates", sans-serif;
}
@media (max-width: 992px) {
  .overlay span h3 {
    font-size: 0.7rem;
  }
}
.overlay span i {
  font-size: 1rem;
}
.overlay:hover {
  cursor: pointer;
}

.customer_case_grid_item:hover img {
  background-color: #000000;
  opacity: 0.7;
  z-index: 1;
}

.customer_case_grid_item:hover .overlay {
  visibility: visible;
  background-color: white;
  opacity: 1;
}

.customer_case_links {
  padding: 1% 8%;
}
@media (max-width: 1200px) {
  .customer_case_links {
    padding: 1rem 3rem;
  }
}
@media (max-width: 992px) {
  .customer_case_links {
    padding: 1rem 2rem;
  }
}
.customer_case_links ul {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}
@media (max-width: 992px) {
  .customer_case_links ul {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .customer_case_links ul {
    margin: auto;
    margin-right: 1rem;
  }
}
@media (max-width: 600px) {
  .customer_case_links ul {
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    margin-right: 5px;
  }
}
.customer_case_links ul li {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #010834;
  border-bottom: 2px solid #010834;
}
.customer_case_links ul li.active {
  color: #0074da;
  border-bottom: 2px solid #0074da;
}
.customer_case_links ul li i {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .customer_case_links ul li a {
    margin-top: 1rem;
  }
}

.partners {
  padding-top: 0.6rem;
  background-color: #010834;
  justify-content: center;
  margin-top: 1rem;
}

.partners_containers {
  text-align: center;
  align-items: center;
  align-self: center;
  padding: 1rem 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #010834;
}
@media (max-width: 768px) {
  .partners_containers {
    padding: 0.5rem 0.5rem;
  }
}

.slide {
  height: 7rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
}

.partners_img img {
  display: flex;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 150px;
  text-align: center;
  margin: auto;
}
@media (max-width: 1200px) {
  .partners_img img {
    width: 70%;
    max-width: 190px;
  }
}
@media (max-width: 992px) {
  .partners_img img {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .partners_img img {
    width: 60%;
  }
}

.slider_container {
  overflow: hidden;
  padding: 1% 5%;
}
@media (max-width: 768px) {
  .slider_container {
    padding: 1% 4%;
  }
}

.slick-next {
  right: 5%;
}

.contact {
  padding: 4rem 2rem;
  color: #010834;
  background-color: white;
}
@media (max-width: 1200px) {
  .contact {
    padding: 3rem 1rem;
  }
}
@media (max-width: 480px) {
  .contact {
    padding: 2rem auto;
  }
}

.contact_container h3 {
  font-size: 2.1rem;
  font-weight: 700;
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
}
@media (max-width: 600px) {
  .contact_container h3 {
    font-size: 1.7rem;
  }
}
@media (max-width: 480px) {
  .contact_container h3 {
    font-size: 1.3rem;
  }
}

.contact_description {
  font-size: 16px;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  padding-top: 20px;
  text-align: center;
  margin: 0.5rem 15rem;
}
@media (max-width: 1200px) {
  .contact_description {
    margin: 0.5rem 2rem;
  }
}
@media (max-width: 600px) {
  .contact_description {
    margin: auto;
  }
}
.contact_description p {
  padding-bottom: 1.5rem;
}
@media (max-width: 480px) {
  .contact_description p {
    text-align: left;
    padding-bottom: auto;
    font-size: 0.85rem;
    font-weight: 300;
  }
}

.contact_form {
  padding: 1rem;
  justify-content: center;
  display: block;
  background-color: #010834;
  margin: 1rem 18rem;
  color: white;
}
@media (max-width: 1200px) {
  .contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0.5rem;
    text-align: center;
    margin: 1rem 2rem;
  }
}
@media (max-width: 768px) {
  .contact_form {
    margin: 1rem 1rem;
  }
}
@media (max-width: 600px) {
  .contact_form {
    margin: auto;
  }
}
.contact_form p {
  margin: 1rem 0rem;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}
@media (max-width: 480px) {
  .contact_form p {
    font-size: 0.85rem;
  }
}
.contact_form form {
  text-align: center;
}
.contact_form form select {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  width: 30rem;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .contact_form form select {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .contact_form form select {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .contact_form form select {
    font-size: 0.85rem;
  }
}
.contact_form form input:nth-child(1) {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  width: 14.89rem;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .contact_form form input:nth-child(1) {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .contact_form form input:nth-child(1) {
    width: 90%;
  }
}
.contact_form form input:nth-child(2) {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  width: 14.89rem;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .contact_form form input:nth-child(2) {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .contact_form form input:nth-child(2) {
    width: 90%;
  }
}
.contact_form form textarea {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  width: 30rem;
  font-size: 1rem;
  margin-top: 1rem, 0rem;
}
@media (max-width: 768px) {
  .contact_form form textarea {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .contact_form form textarea {
    font-size: 0.85rem;
  }
}
.contact_form form input::-moz-placeholder {
  color: #010834;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}
.contact_form form input:-ms-input-placeholder {
  color: #010834;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}
.contact_form form input::placeholder {
  color: #010834;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}
@media (max-width: 480px) {
  .contact_form form input::-moz-placeholder {
    font-size: 0.85rem;
  }
  .contact_form form input:-ms-input-placeholder {
    font-size: 0.85rem;
  }
  .contact_form form input::placeholder {
    font-size: 0.85rem;
  }
}
.contact_form form textarea::-moz-placeholder {
  color: #010834;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}
.contact_form form textarea:-ms-input-placeholder {
  color: #010834;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}
.contact_form form textarea::placeholder {
  color: #010834;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}
@media (max-width: 480px) {
  .contact_form form textarea::-moz-placeholder {
    font-size: 0.85rem;
  }
  .contact_form form textarea:-ms-input-placeholder {
    font-size: 0.85rem;
  }
  .contact_form form textarea::placeholder {
    font-size: 0.85rem;
  }
}
.contact_form form input[type=checkbox] {
  height: 15px;
  width: 15px;
  margin: 0px 5px;
}
@media (max-width: 768px) {
  .contact_form form input[type=checkbox] {
    height: 15px;
    width: 15px;
  }
}
.contact_form form label a {
  text-decoration: none;
  color: white;
  border-bottom: 3px solid white;
}

.policy_container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .policy_container {
    width: 90%;
    gap: 1rem;
  }
}
@media (max-width: 480px) {
  .policy_container {
    font-size: 0.85rem;
  }
}

.container_inside {
  margin-top: 1rem;
  width: 30rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .container_inside {
    width: 26rem;
  }
}
@media (max-width: 600px) {
  .container_inside {
    flex-direction: column;
  }
}

.policy {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .policy {
    justify-content: flex-start;
  }
}
.policy label {
  padding-left: 8px;
}
.policy label a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.form_button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem 1rem;
  background-color: #0074da;
  color: white;
  border: 1px solid #0074da;
}
.form_button:hover {
  background-color: transparent;
  border: 1px solid #0074da;
  transition: 0.5s;
}
@media (max-width: 600px) {
  .form_button {
    margin-top: 1.5rem;
  }
}
@media (max-width: 480px) {
  .form_button {
    font-size: 0.85rem;
  }
}

.footer {
  background-color: #010834;
  color: white;
}
.footer p {
  text-align: center;
  padding-bottom: 2rem;
}
@media (max-width: 480px) {
  .footer p {
    font-size: 0.85rem;
  }
}

.footer_item {
  flex-grow: 1;
}
.footer_item h4 {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Montserrat Alternates", sans-serif;
  margin-bottom: 2rem;
}
@media (max-width: 480px) {
  .footer_item h4 {
    font-size: 1rem;
  }
}
.footer_item ul li {
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 200;
  font-family: "Ubuntu", sans-serif;
}
.footer_item ul li i {
  padding-right: 1rem;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: "Ubuntu", sans-serif;
}
.footer_item ul li a {
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}
.footer_item ul li a:hover {
  color: #0074da;
  transition: 0.2s ease-in-out;
}

.footer_item ul li a {
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
}

.footer_item ul li a:hover {
  color: #0074da;
  transition: 0.2s ease-in-out;
}

.footer_container {
  padding: 4% 8%;
  gap: 4rem;
  align-content: center;
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: none;
}
@media (max-width: 1200px) {
  .footer_container {
    margin-left: 0;
    padding: 2.5rem 3rem;
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .footer_container {
    padding: 3rem 2rem;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .footer_container ul li {
    font-size: 0.85rem;
  }
}
@media (max-width: 480px) and (max-width: 480px) {
  .footer_container ul li i {
    font-size: 0.85rem;
  }
}
@media (max-width: 480px) and (max-width: 480px) {
  .footer_container ul li a {
    font-size: 0.85rem;
  }
}

.scrollup {
  display: none;
  position: fixed;
  height: 2.7rem;
  width: 2.7rem;
  background-color: #0074da;
  color: white;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
}
.scrollup a i {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.scrollup:hover {
  background-color: #1378d0;
}/*# sourceMappingURL=main.css.map */