@import "variables";
@import "nav";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e8eef3;
    color: var(--font-color);
    font-family: var(--font1);
  }
  
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  
  
  .header {
    line-height: 1.5;
    position: relative;
  }
  